@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-zinc-900 font-sans;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
  h1, h2, h3, h4 {
    @apply font-serif text-zinc-900;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
